<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Short URL generator">
    <meta name="author" content="Hueho">
    <meta http-equiv="refresh" content="5; url=/">

    <title>ShortURL Error</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <style>
    /* Custom page CSS
    -------------------------------------------------- */
        html {
          position: relative;
          min-height: 100%;
        }

        .container {
          width: auto;
          max-width: 680px;
          padding: 0 15px;
        }
</style>
</head>

<body>

<!-- Begin page content -->
<main role="main" class="container">
    <h1 class="mt-5">Error!</h1>

    <span>We apologize for the inconvenience. You will be redirected to the front page...</span>
</main>

</body>
</html>
